.phonebook__form {
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.phonebook__formLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-weight: 500;
  font-size: 20px;
}

.phonebook__formInput {
  padding-left: 3px;
  padding-right: 3px;
  width: 250px;
  min-height: 30px;
  font-size: 16px;

  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.phonebook__formInput:focus {
  outline: none;
  border-color: cadetblue;
}

.phonebook__formButton {
  width: 200px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  border-color: cornflowerblue;

  background-color: cornflowerblue;
  border-radius: 4px;

  cursor: pointer;
}
